<mat-card>
  <mat-card-title>Excluir Produto</mat-card-title>
  <form action="">
    <mat-form-field>
      <label>
        <input type="text" matInput placeholder="nome"
               [value]="product.name" name="name">
      </label>
    </mat-form-field>
    <mat-form-field>
      <label>
        <input type="text" matInput placeholder="Preço (R$)"
               [value]="product.price | currency: 'BRL'" name="price">
      </label>
    </mat-form-field>
  </form>
  <button mat-raised-button (click)="removeProduct()" color="warn">
    <i class="material-icons">delete</i> Excluir
  </button>

  <button mat-raised-button (click)="cancel()" >
    <i class="material-icons">close</i> Cancelar
  </button>
</mat-card>
