.sidenav {
  width: 200px;
  background-color: #484848;

  color: #fff;
}

.sidenav a {
  color: #fff;
}

.sidenav a:hover {
  background-color: #000;
}


.sidenav i {
  padding-right: 1rem;
}

.content {
  padding: 16px;
  background-color: #6d6d6d;
}
